<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Modelo</title>
</head>
<body>
    <h1>Resultados del Modelo</h1>
    <ul>
        {% for resultado in resultados %}
            <li>Modelo: {{ resultado.modelo }}</li>
            <li>Clase Predicha: {{ resultado.clase_predicha }}</li>
            <li>Probabilidad Predicha: {{ resultado.probabilidad_predicha }}</li>
        {% endfor %}
    </ul>
</body>
</html>
