body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}
.container {
  margin: 20px;
  padding: 20px;
  background-color: white;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
img,
video {
  height: auto;
  max-width: 100%;
}

.contenedor1{
  margin: 0 auto;
  border: 1px solid white;
  margin: 1% 1% 1% 1%; 
}

main {
  flex-grow: 1;
  border: 2px dotted black;

  margin: 0 auto auto auto;
}

h2 {
  text-align: center;
}