:root {
    color-scheme: dark light;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body h1{
    text-align: center;
  }

  body p{
    text-align: center;
  }
  
  img,
  video {
    height: auto;
    max-width: 100%;
  }

  .contenedor1{
    margin: 0 auto;
    width: 600px;
    height: 300px;
    padding: 20px;
    background-color: gray;
    border: 1px solid white;
  }
  
  main {
    flex-grow: 1;
    border: 2px dotted black;
    width: 99%;
    height: 99%;
    margin: 0 auto auto auto;
  }
  
  footer {
    margin-top: 1rem;
    border-top: solid CanvasText 1px;
    font-size: 0.8rem;
  }
          